canvas{
    position: fixed;
    top: 0;
    left: 0;
}
.main-popup {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    pointer-events: none; /* Allow interaction with the underlying Three.js scene */
}
body {
    margin: 0;
    display: flex;
    height: 100vh; /* Full height of the viewport */
  }

  .column {
    flex: 1; /* Equal width for all columns */
    display: flex;
    flex-direction: column;
  }

  #canvas-container {
    position: relative;
    width: 100%;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }

  .info-column{
    background-color: #f0f0f0;
    flex: 1; /* Equal width for all columns */
    display: flex;
    flex-direction: column;
  }
